// Variables
@import "core/variables";

// Core
// ----
@import "core/mixins";
@import "core/extend";
@import "core/helpers";

// No conflict
// -----------
@import "ui/typography";

// Objects
// -------
// e.g. - @import "objects/button";

// User Interface
// --------------
// e.g. - @import "ui/button";

// Layout
// ------
// e.g. - @import "layout/homepage";

// Animation
// ---------
// e.g. - @import "animation/hero";

// Temp
// ----

#powered-by-rusic {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-image: url(#{"{{ 'powered_by_rusic.png' | image_url }}"});
  width: 200px;
  height: 21px;
}
